<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
        <circle-progress
        [percent]="percent"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="col-md-6">
      Total Budget<br/>
      Rs. {{totalAmount}}<br/>
      Expense Amount<br/>
      Rs. {{expenseAmount}}<br/>
    </div>
    </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <fusioncharts
    width="550"
    height="250"
    type="pie3d"
    [dataSource]=dataSource >
</fusioncharts>
    </div>
  </div>
</div>
<div class="mt-4">
<button class="btn btn-primary" (click)="open(content);">Add Expense</button>
</div>
<div class="row mt-4">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category</th>
            <th>Item Name</th>
            <th>Amount</th>
            <th>Expense Date</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of val;let i=index;">
              <ng-container *ngIf="item.status === 'active'">
            <td>{{item.category}}</td>
            <td>{{item.item_name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.expense_date}}</td>
            <td><button class="btn btn-info" (click)="edit(item,i);open(editcontent);">Edit</button></td>
            <td><button class="btn btn-danger" (click)="delete(item,i)">Delete</button></td>
            </ng-container>
            <ng-container *ngIf="item.status === 'inactive'" >
                <td>{{item.category}}</td>
                <td>{{item.item_name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.expense_date}}</td>
                <td></td>
                <td><button class="btn btn-warning" (click)="undo(item,i)">Undo</button></td>
                </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Expense</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Ok click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="expenseForm">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="categories">Categories</label>
                  <div class="input-group">
                    <select class="form-control" formControlName="category">
                      <option value=''>Select Category</option>
                      <option *ngFor="let key of category" [value]="key">{{key}}</option>
                    </select>
                  </div>
                </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="categories">Item Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="item_name" placeholder="Enter Item Name...">
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="categories">Amount</label>
                    <div class="input-group">
                        <input type="number" class="form-control" formControlName="amount" placeholder="Enter Amount in Rs.">
                      </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="categories">Expense Date</label>
                    <div class="input-group">
                      <input type="date" class="form-control" formControlName="expense_date">
                    </div>
                  </div>
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="d('Save click');saveExpense();">Save</button>
    </div>
  </ng-template>
  <ng-template #editcontent let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Expense</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Ok click');close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="expenseForm">
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="categories">Categories</label>
                    <div class="input-group">
                      <select class="form-control" formControlName="category">
                        <option value=''>Select Category</option>
                        <option *ngFor="let key of category" [value]="key">{{key}}</option>
                      </select>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="categories">Item Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="item_name" placeholder="Enter Item Name...">
                    </div>
                  </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="categories">Amount</label>
                      <div class="input-group">
                          <input type="number" class="form-control" formControlName="amount" placeholder="Enter Amount in Rs.">
                        </div>
                    </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="categories">Expense Date</label>
                      <div class="input-group">
                        <input type="date" class="form-control" formControlName="expense_date">
                      </div>
                    </div>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="d('Save click');editExpense();">Save</button>
      </div>
    </ng-template>